*{
    margin: 0;
    padding: 0;
}

body{
    background-color: mediumaquamarine;
}

header{
    background-color: darkcyan;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkcyan;
    overflow: hidden;
}

header li{
    float: right;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

header a:hover{
    background-color: darkslategrey;
}

.title{
    background-size: cover;
    height: 300px;
    padding-top: 100px;
}

.title h1{
    color: white;
    font-size: 100px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

.detail{
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 28px;
}

footer{
    background-color: darkgreen;
    color: white;
    height: 40px;
    text-align: center;
    padding-top: 20px;
}